body {
    background-color: #F0FFFF;
}

header {
    background-color: white;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 150px;
}

.cabecalho {
    padding: 20px 0;
    border-bottom: 1px solid #D3D3D3;
}

.cabecalho .container {
    display: flex;
    align-items: center;
}

.cabeçalho figure img {
    width: 100%;
    max-width: 140px;
}

.cabecalho .logo {
    margin-right: 200px;
}

.card {
    background-color: white;
    width: 970px;
    height: 970px;
    border: 2px solid #D3D3D3;
    border-radius: 30px;
    display: flex;
    align-content: center;
    margin-top: 200px;
    margin-left: 1200px;
}

.itens {
    margin-top: 75px;
    font-size: 40px;
    margin-left: 240px;
}

.list_item {
    display: block;
    margin-top: 45px;
}

.list_item_button {
    margin-top: 45px;
    border: none;
    font-weight: bold;
    font-size: 40px;
    padding: 10px 60px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 150px;
}

footer {
    background-color: white;
    display: flex;
}

.rodape {
    padding: 20px 0;
    border-top: 1px solid #D3D3D3;
    margin-top: 200px;
}

.address {
    font-style: Black;
    font-size: 40px;
}

.phone {
    font-style: Black;
    font-size: 40px;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 150px;
    display: inline;
}
